.App {
  background-color: #282c34;
  color:#f3f3f3;
  padding: 50px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #2673ad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App h2,
.App h3,
.App h4,
.App h5,
.App h6 {
  font-size: larger;
  border-bottom: 3px #80cfa9 solid;
  width: 25%;
}

.App input,
.App button,
.App .team-link {
  background-color: #2673ad;
  color: #f3f3f3;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #a7e2e3;
  padding: 0.3rem;
  margin: 1rem;
}

.App input:focus {
  background-color: #74a5ca;
}

.App-link {
  color: #09d3ac;
}

.teamSelector {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.teamSelector li {
  flex: 0 0 auto;
  margin: 5px;
}
.teamSelector .team-link {
  display: inline-block;
  border: 2px solid #a7e2e3;
  background-color: #2673ad;
  border-radius: 15px;
  padding: 10px;
}
.teamSelector .team-link.active {
  background-color: #74a5ca;
  border-color: #80cfa9;
}

.gp-range {
  width: 80%;
}