.hero-badge {
  display: flex;
}

.incomplete .hero-badge {
  background-color: #cc3f0c;
}

.hero-badge dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  height: 92px;
}

.hero-badge dt,
.hero-badge dd {
  flex: 1 0 auto;
  width: 45%;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

.hero-badge dl dt,
.hero-badge dl dd {
  text-transform: uppercase;
  font-weight: bold;
  background-color: hsla(206, 64%, 41%, 0.3);

}

.hero-badge dl :nth-child(4n-2),
.hero-badge dl :nth-child(4n-3) {
  background-color: hsla(206, 64%, 41%, 0.5);
}
